[Desktop Entry]
Encoding=UTF-8
Name=Link to The Basics of CF | The Cystic Fibrosis Center at Stanford | Stanford Medicine
Type=Link
URL=https://med.stanford.edu/cfcenter/education/english/BasicsOfCF.html
Icon=mate-fs-bookmark
Name[en_GB]=Best CF Resource - Stanford EDU.desktop
